.title {
    color: red;
    font-weight: bold;
    font-size: 12px;
}

.title.user {
    color: blue;
}

.message-box {
    margin: 10px 10px;
    padding: 10px;
    background: lightgrey;
    border-radius: 10px;
    margin-right: 20vw;
}

.message-box.right {
    text-align: right;
    background: lightblue;
    margin-left: 20vw;
    margin-right: 10px;
}